<h1> Hello! My name is <%=@name%> and my favorite food is <%=@food%>
My favorite season is <%=@season%>
I crave <%=@dessert%> when I'm tired and I want something sweet. 
I am an <%=@indoor_outdoor%> type of person 
I am an <%=@ethnicity%></h1>